[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-treebeard        = "==4.7.*"         # Django tree structure app           
django                  = "==5.*"           # Django main package
django-dirtyfields      = "==1.9.*"         # Django track changed fields in a model
ambient-toolbox         = "==9.1.*"         # Ambient toolbox for web apps
django-safedelete       = "==1.3.*"         # Django safedelete - configurable safe/ hard delete
django-extensions       = "*"               # Django cli extensions and slug implementation
django-compressor       = "==4.4.*"         # Django compressor for css and js
csscompressor           = "==0.9.*"         # CSS compressor
djangorestframework     = "*"               # Django rest framework   
django-migration-zero   = "*"               # Django migration zero, reduce migration files to a single entry
# !!!!! Add comment after adding new package

[dev-packages]
black = "*"
isort = "*"
ruff = "*"
pre-commit = "*"
ambient-package-update  = "*"               # Ambient package update - manages code updates and setting up django project

[requires]
python_version = "3.12"
